@import "tailwindcss";

:root {
  --background: #140C0C;
  --foreground: #eaa69d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*on hold  client decision @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Chivo Mono", monospace;
}


.page-x-padding{
  padding-left: 3rem;
  padding-right: 3rem;
}